body {
    background-color: #a21ddb;
    text-align: center;
    background-image: linear-gradient(to right, #2e79e9, #416ded, #595dee, #7449eb, #8e28e3);}

.navbar {
    background-color: #db7a12;
}

a {
    color: #0f0fa4;
}

a:hover {
    color: #d5dc0b;
  }

h3{
    color: aliceblue;
}
h3:hover{
    color: rgb(218, 10, 10);
}

  